* {
  background-color: #DBD3D8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #507DBC;
  width: 100vw;
  height: 10%;
}

.logo-card {
  color: #66E17C;
  font-size: 2.5rem;
}

.header-nav {
  width: 50vw;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.button-container {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.auth-button {
  color: #507DBC;
  background-color: #90F3FF;
  border: solid 2px #507DBC;
  height: 150%;
  border-radius: .25rem;
}