* {
  background-color: #DBD3D8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #507DBC;
  width: 100vw;
  height: 10%;
}

.logo-card {
  color: #4bb85f;
  font-size: 2.5rem;
  margin-left: 2.5%;
}

.header-nav {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.auth-button {
  color: #507DBC;
  background-color: #90F3FF;
  border: solid 2px #507DBC;
  height: 2rem;
  border-radius: .5rem;
}